<html>
  <head>
    <meta charset="utf-8">
    <title>health vocab apis explorer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link href="/static/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/bootstrap-doc.css" rel="stylesheet">

  </head>
  <body  class="container">
        <!--navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/explorer">Health Vocab - API Documentation / Usage</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav pull-right">
                            <li><a href="https://github.com/chintanop/health-vocabulary-rest-api" rel="nofollow">github </a></li>
                           
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!--/.navbar -->
        
        
        <article  class="container">
            <div  class="row-fluid">
            <div class="span12">

<h2>Registration</h2>

  <form action="/accounts/register/" method="post">{% csrf_token %}
    {{form.as_p}}
  <input type="submit" value="Register" />

  </form>
   </div>
            </div><!--/.row-fluid -->
        </article>


        
        
        <!-- footer -->
        <footer>
            <div class="footer">
                <div class="container">
                     <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">back to top</a></li>
            </ul>
            
            <p>powered by <a href="http://appliedinformaticsinc.com/">© Applied Informatics Inc. 2015</a>.</p>
            <p>source code at <a href="https://github.com/chintanop/health-vocabulary-rest-api" rel="nofollow">github </a><br>
               feedback/queries : chintan@trialx.com / nadeem@trialx.com
            </p>
                </div>
            </div>
        </footer><!--/.footer -->

  </body>
</html>